.elements__name-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: baseline;
   height: 23px;
   padding: 25px 15px 31px 0;
   background-color: #fff;
   border-radius: 0px 0px 10px 10px;
}