.popup__hidden-btn {
   margin-left: 470px;
   height: 40px;
   width: 40px;
   transform: rotate(45deg);
   background-repeat: no-repeat;
   user-select: none;
   outline: none;
   border-radius: 2px;
   border-style: none;
   background-image: url('../../../images/plus.svg');
   background-position: center;
   background-size: contain;
   background-color: rgba(0, 0, 0, 0);
}

.popup__hidden-btn:hover {
   opacity: 0.6;
}

@media screen and (max-width: 880px) {
   .popup__hidden-btn {
      margin-left: 260px;
      margin-bottom: 13.5px;
      bottom: 105%;
      left: 90%;
      height: 26px;
      width: 26px;
   }
}