.header__logo {
   max-width: 142px;
   margin: auto 0;
   /* margin-bottom: 20px; */
}

@media screen and (max-width: 880px) {
   .header__logo {
      margin-left: 27px;
      margin-bottom: 31.6px;
      max-width: 104px;
   }
}