.profile__edit-button {
   width: 24px;
   margin-left: 18px;
   align-self: stretch;
   background-image: url('../../../images/edit_button.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: #000;
   border-style: none;
   user-select: none;
   outline: none;
   grid-area: button;
}

@media screen and (max-width: 880px) {
   .profile__edit-button {
      justify-self: center;
      width: 18px;
   }
}

.profile__edit-button:hover {
   opacity: 0.6;
}