.elements__trash-button {
   position: absolute;
   right: 15px;
   top: 18px;
   width: 18px;
   height: 19.3px;
   margin-left: 18px;
   align-self: stretch;
   background-image: url('../../../images/Trash.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-color: rgba(0, 0, 0, 0);
   border-style: none;
   user-select: none;
   outline: none;
}

.elements__trash-button:hover {
   opacity: 0.6;
}