.elements__card-like_active {
   background-color: #fff;
   border-style: none;
   margin-right: 5px;
   width: 22px;
   height: 20px;
   background-image: url('../../../../images/like-enable.svg');
   background-repeat: no-repeat;
   user-select: none;
   outline: none;
}

.elements__card-like_active:hover {
   opacity: 0.5;
}
